.image-text
{
  position: absolute;
  top: 120px;
  left: 80px;
  font-size: 200%;
  text-align: justify;
  font-family: :serif;
}

#button
{
  position: absolute;
  top: 240px;
  left: 80px;

}

.card
{
	width: 20rem;
	height: 25rem;
	margin-top: 30px;



}